@import "../reset";
@import "../navbar";

#register {
  padding: 9rem 0 11rem;
  .container {
    form {
      width: 50%;
      .f-control {
				position: relative;
        input {
          width: 100%;
          padding: 1rem;
					display: block;
        }
        small {
          color: #e74c3c;
          position: absolute;
          bottom: -1.3rem;
          left: 0;
          visibility: hidden;
        }
      }
    }

    .f-control.success input {
      border-color: #2ecc71;
    }

    .f-control.error input {
      border-color: #e74c3c;
    }

    .f-control.error small {
      visibility: visible;
    }

    button {
      background-color: #ffd050;
      padding: 1rem;
      text-align: center;
      margin-top: 2rem;
    }
  }
}

@media (max-width: 766px) {
  #register {
    padding: 6rem 0 8rem;
    .container {
      form {
        width: 90%;
      }
    }
  }
}

@import "../footer";
